NodeRed/flows.json
[{"id":"27550e44.3f2d02","type":"tab","label":"Recolectar Info","disabled":false,"info":""},{"id":"f2415065.e1ccd","type":"tab","label":"Reles","disabled":false,"info":""},{"id":"df300dc7.e03ed","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"8ff11e89.3983c","type":"tab","label":"Mantenimiento","disabled":false,"info":""},{"id":"a3081bfc.d3c508","type":"tab","label":"Socket Usuarios","disabled":false,"info":""},{"id":"b75d189d.eca968","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"8883","tls":"5bf4a89e.fffb98","clientid":"nodered","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a3844267.74b4e","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"TERMO","name":"TERMO","usetls":false,"tls":"5bf4a89e.fffb98"},{"id":"5bf4a89e.fffb98","type":"tls-config","z":"","name":"certificados","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"CA.crt","servername":"G4","verifyservercert":false},{"id":"48675c75.175514","type":"tls-config","z":"","name":"certificados","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"G4","verifyservercert":false},{"id":"fcd21c62.94d71","type":"alexa-smart-home-v3-conf","z":"","username":"mmora","mqttserver":"mq-red.cb-net.co.uk","webapiurl":"red.cb-net.co.uk"},{"id":"d3b642dc.c16f","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"Mantenimiento Termo","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4a02b2d5.6de2ec","type":"mqtt-broker","z":"","name":"localhost","broker":"127.0.0.1","port":"8883","tls":"db7b7f88.7d61c","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"314adeee.78ef12","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"TERMO","name":"TermoDB","usetls":false,"tls":"593c8549.4b2adc"},{"id":"3942a97f.affd36","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"TERMO","name":"","usetls":false,"tls":""},{"id":"2615b7f3.7b82b8","type":"mqtt-broker","z":"","name":"Mosquitto EC2","broker":"34.255.208.144","port":"1883","tls":"7bb4f654.3c6d78","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"homie/Gateway/$state","birthQos":"0","birthPayload":"ready","closeTopic":"homie/Gateway/$state","closeQos":"0","closePayload":"disconnect","willTopic":"homie/Gateway/$state","willQos":"0","willPayload":"Error"},{"id":"db7b7f88.7d61c","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"","verifyservercert":false},{"id":"593c8549.4b2adc","type":"tls-config","z":"","name":"TLS Mosquitto Raspberry","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"","verifyservercert":true},{"id":"b544b13.1c8d75","type":"ui_tab","z":"","name":"Termo","icon":"ac_unit","disabled":false,"hidden":false},{"id":"7bb4f654.3c6d78","type":"tls-config","z":"","name":"TLS Mosquitto Ec2","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"","verifyservercert":false},{"id":"230c9be0.1dac24","type":"websocket-listener","z":"","path":"/ws/mantenimiento","wholemsg":"false"},{"id":"1baf13ec.e5fb6c","type":"mqtt-broker","z":"","name":"TekaTekiNas","broker":"10.0.1.11","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"33d3191d.89ae06","type":"websocket-listener","z":"","path":"/ws/wopr","wholemsg":"false"},{"id":"f1dd149f.c9c2b8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"semana","tz":""},{"id":"b5e9d6b9.677158","type":"ui_group","z":"","name":"Termo","tab":"b544b13.1c8d75","order":1,"disp":false,"width":"6","collapse":false},{"id":"949e4636.abff68","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"1d6f772f.120d89","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"59efd83a.5a4b38","type":"influxdb","z":"","hostname":"10.244.167.21","port":"8086","protocol":"http","database":"TERMO","name":"TERMOAWS","usetls":false,"tls":"13813f59.9307a1"},{"id":"13813f59.9307a1","type":"tls-config","z":"","name":"certificados","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"G4","verifyservercert":false},{"id":"bc98d28a.13efe","type":"mqtt in","z":"27550e44.3f2d02","name":"conectar","topic":"homie/arduino/#","qos":"0","datatype":"auto","broker":"b75d189d.eca968","x":100,"y":520,"wires":[["e2d14c0b.97b9b"]]},{"id":"e2d14c0b.97b9b","type":"switch","z":"27550e44.3f2d02","name":"Topic Separador","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"homie/arduino/$homie","vt":"str"},{"t":"eq","v":"homie/arduino/$name","vt":"str"},{"t":"eq","v":"homie/arduino/$nodes","vt":"str"},{"t":"eq","v":"homie/arduino/$state","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/$name","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/$properties","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/temperature/$name","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/temperature/$unit","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/temperature/$datatype","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/temperature/$settable","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/humidity/$name","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/humidity/$unit","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/humidity/$datatype","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/humidity/$settable","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/pressure/$name","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/pressure/$unit","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/pressure/$datatype","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/pressure/$settable","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/temperature","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/humidity","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/pressure","vt":"str"},{"t":"eq","v":"homie/arduino/relays/rele1/$name","vt":"str"},{"t":"eq","v":"homie/arduino/relays/rele1/$settable","vt":"str"},{"t":"eq","v":"homie/arduino/relays/rele1","vt":"str"},{"t":"eq","v":"homie/arduino/relays/rele2/$name","vt":"str"},{"t":"eq","v":"homie/arduino/relays/rele2/$settable","vt":"str"},{"t":"eq","v":"homie/arduino/relays/rele2","vt":"str"},{"t":"eq","v":"homie/arduino/$modoManual","vt":"str"},{"t":"eq","v":"homie/arduino/$estadoError","vt":"str"}],"checkall":"true","repair":true,"outputs":29,"x":360,"y":560,"wires":[["23a60366.ed43bc"],["28642ada.a68306"],["b8ca1507.28fb28"],["fc496e2d.b93be"],["c7f38468.9fd4b8"],["2d605d94.b68d72"],["dea04435.0bf478"],["3a319d35.8aa612"],["fee4f106.beaa1"],["5eb757f9.16d958"],["230d5fb1.91fe1"],["8180915c.899ce"],["7ad736dc.37dd08"],["55523ee8.2242b"],["425c5989.2f7558"],["64b5be76.936a1"],["6e0bbecc.25197"],["343752f4.015bce"],["b0a6ddde.c382e"],["6b65cd14.3f8ab4"],["34f92bf8.cebc54"],["10f41198.743c6e"],["b4b43559.3246c8"],["54eb9625.f6fbb8"],["833552f.2cbf6b"],["9bd47a4f.0ab428"],["8fdd724c.ad863"],["19c0bee9.6c5dd1"],["4dc1af26.38e95"]]},{"id":"64b5be76.936a1","type":"change","z":"27550e44.3f2d02","name":"Store pressureUnit","rules":[{"t":"set","p":"pressureUnit","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":660,"wires":[[]]},{"id":"425c5989.2f7558","type":"change","z":"27550e44.3f2d02","name":"Store pressureName","rules":[{"t":"set","p":"pressureName","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":620,"wires":[[]]},{"id":"55523ee8.2242b","type":"change","z":"27550e44.3f2d02","name":"Store humiditySettable","rules":[{"t":"set","p":"humiditySettable","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":580,"wires":[[]]},{"id":"7ad736dc.37dd08","type":"change","z":"27550e44.3f2d02","name":"Store humidityDataType","rules":[{"t":"set","p":"humidityDataType","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":540,"wires":[[]]},{"id":"8180915c.899ce","type":"change","z":"27550e44.3f2d02","name":"Store humidityUnit","rules":[{"t":"set","p":"humidityUnit","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":500,"wires":[[]]},{"id":"230d5fb1.91fe1","type":"change","z":"27550e44.3f2d02","name":"Store humidityName","rules":[{"t":"set","p":"humidityName","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":460,"wires":[[]]},{"id":"5eb757f9.16d958","type":"change","z":"27550e44.3f2d02","name":"Store temperatureSettable","rules":[{"t":"set","p":"temperatureSettable","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":422,"wires":[[]]},{"id":"fee4f106.beaa1","type":"change","z":"27550e44.3f2d02","name":"Store temperatureDataType","rules":[{"t":"set","p":"temperatureDataType","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":383,"wires":[[]]},{"id":"3a319d35.8aa612","type":"change","z":"27550e44.3f2d02","name":"Store temperatureUnit","rules":[{"t":"set","p":"temperatureUnit","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":343,"wires":[[]]},{"id":"dea04435.0bf478","type":"change","z":"27550e44.3f2d02","name":"Store temperatureName","rules":[{"t":"set","p":"temperatureName","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":303,"wires":[[]]},{"id":"2d605d94.b68d72","type":"change","z":"27550e44.3f2d02","name":"Store mkrenvProperties","rules":[{"t":"set","p":"mkrenvProperties","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":263,"wires":[[]]},{"id":"c7f38468.9fd4b8","type":"change","z":"27550e44.3f2d02","name":"Store mkrenvName","rules":[{"t":"set","p":"mkrenvName","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":223,"wires":[[]]},{"id":"fc496e2d.b93be","type":"change","z":"27550e44.3f2d02","name":"Store arduinoState","rules":[{"t":"set","p":"arduinoState","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":183,"wires":[[]]},{"id":"b8ca1507.28fb28","type":"change","z":"27550e44.3f2d02","name":"Store arduinoNodes","rules":[{"t":"set","p":"arduinoNodes","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":143,"wires":[[]]},{"id":"28642ada.a68306","type":"change","z":"27550e44.3f2d02","name":"Store arduinoName","rules":[{"t":"set","p":"arduinoName","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":103,"wires":[[]]},{"id":"23a60366.ed43bc","type":"change","z":"27550e44.3f2d02","name":"Store homie","rules":[{"t":"set","p":"homie","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":63,"wires":[[]]},{"id":"6e0bbecc.25197","type":"change","z":"27550e44.3f2d02","name":"Store pressureDataType","rules":[{"t":"set","p":"pressureDataType","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":700,"wires":[[]]},{"id":"343752f4.015bce","type":"change","z":"27550e44.3f2d02","name":"Store pressureSettable","rules":[{"t":"set","p":"pressureSettable","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":740,"wires":[[]]},{"id":"34f92bf8.cebc54","type":"change","z":"27550e44.3f2d02","name":"Store pressureValue","rules":[{"t":"set","p":"pressureValue","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":918,"y":859,"wires":[[]]},{"id":"6b65cd14.3f8ab4","type":"change","z":"27550e44.3f2d02","name":"Store humidityValue","rules":[{"t":"set","p":"humidityValue","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":918,"y":819,"wires":[[]]},{"id":"b0a6ddde.c382e","type":"change","z":"27550e44.3f2d02","name":"Store temperatureValue","rules":[{"t":"set","p":"temperatureValue","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":928,"y":779,"wires":[[]]},{"id":"b65197e5.c866c8","type":"http response","z":"27550e44.3f2d02","name":"Web","statusCode":"","headers":{"content-type":"text/html"},"x":510,"y":1300,"wires":[]},{"id":"e23d7cf2.59288","type":"http in","z":"27550e44.3f2d02","name":"Arduino","url":"/arduino","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1300,"wires":[["bb6647de.59a738"]]},{"id":"bb6647de.59a738","type":"template","z":"27550e44.3f2d02","name":"Template","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Arduino Front:</h1>\n        <style type=\"text/css\">\n.tg  {border-collapse:collapse;border-spacing:0;}\n.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overglobal:hidden;word-break:normal;border-color:black;}\n.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overglobal:hidden;word-break:normal;border-color:black;}\n.tg .tg-0lax{text-align:left;vertical-align:top}\n</style>\n<table class=\"tg\">\n  <tr>\n    <th class=\"tg-0lax\"><span style=\"font-weight:bold\">Homie</span></th>\n    <th class=\"tg-0lax\"><span style=\"font-weight:bold\">Device</span></th>\n    <th class=\"tg-0lax\"><span style=\"font-weight:bold\">Nodes</span></th>\n    <th class=\"tg-0lax\"><span style=\"font-weight:bold\">State</span></th>\n    <th class=\"tg-0lax\"><span style=\"font-weight:bold\">Device Name</span></th>\n    <th class=\"tg-0lax\"><span style=\"font-weight:bold\">Device Properties</span></th>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">{{ global.homie }}</td>\n    <td class=\"tg-0lax\">{{ global.arduinoName }}</td>\n    <td class=\"tg-0lax\">{{ global.arduinoNodes }}</td>\n    <td class=\"tg-0lax\">{{ global.arduinoState }}</td>\n    <td class=\"tg-0lax\">{{ global.mkrenvName }}</td>\n    <td class=\"tg-0lax\">{{ global.mkrenvProperties }}</td>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">&nbsp;&nbsp;</td>\n    <td class=\"tg-0lax\">&nbsp;&nbsp;</td>\n    <td class=\"tg-0lax\"></td>\n    <td class=\"tg-0lax\"></td>\n    <td class=\"tg-0lax\"></td>\n    <td class=\"tg-0lax\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\"><span style=\"font-weight:bold\">Sensores</span></td>\n    <td class=\"tg-0lax\"><span style=\"font-weight:bold\">Valor</span></td>\n    <td class=\"tg-0lax\"><span style=\"font-weight:bold\">Unidades</span></td>\n    <td class=\"tg-0lax\"><span style=\"font-weight:bold\">Type Data</span></td>\n    <td class=\"tg-0lax\"><span style=\"font-weight:bold\">Setteable?</span></td>\n    <td class=\"tg-0lax\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">{{ global.temperatureName }}<br></td>\n    <td class=\"tg-0lax\">{{ global.temperatureValue }}</td>\n    <td class=\"tg-0lax\">{{ global.temperatureUnit }}</td>\n    <td class=\"tg-0lax\">{{ global.temperatureDataType }}</td>\n    <td class=\"tg-0lax\">{{ global.temperatureSettable }}</td>\n    <td class=\"tg-0lax\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">{{ global.humidityName }}</td>\n    <td class=\"tg-0lax\">{{ global.humidityValue }}</td>\n    <td class=\"tg-0lax\">{{ global.humidityUnit }}</td>\n    <td class=\"tg-0lax\">{{ global.humidityDataType }}</td>\n    <td class=\"tg-0lax\">{{ global.humiditySettable }}</td>\n    <td class=\"tg-0lax\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">{{ global.pressureName }}</td>\n    <td class=\"tg-0lax\">{{ global.pressureValue }}</td>\n    <td class=\"tg-0lax\">{{ global.pressureUnit }}</td>\n    <td class=\"tg-0lax\">{{ global.pressureDataType }}</td>\n    <td class=\"tg-0lax\">{{ global.pressureSettable }}</td>\n    <td class=\"tg-0lax\"></td>\n  </tr>\n</table>\n    </body>\n</html>","output":"str","x":340,"y":1300,"wires":[["b65197e5.c866c8"]]},{"id":"54eb9625.f6fbb8","type":"change","z":"27550e44.3f2d02","name":"Store rele1State","rules":[{"t":"set","p":"rele1State","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":978,"wires":[[]]},{"id":"8fdd724c.ad863","type":"change","z":"27550e44.3f2d02","name":"Store rele2State","rules":[{"t":"set","p":"rele2State","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1097,"wires":[[]]},{"id":"10f41198.743c6e","type":"change","z":"27550e44.3f2d02","name":"Store rele1Name","rules":[{"t":"set","p":"rele1Name","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":898,"wires":[[]]},{"id":"833552f.2cbf6b","type":"change","z":"27550e44.3f2d02","name":"Store rele2Name","rules":[{"t":"set","p":"rele2Name","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1017,"wires":[[]]},{"id":"b4b43559.3246c8","type":"change","z":"27550e44.3f2d02","name":"Store rele1Settable","rules":[{"t":"set","p":"rele1Settable","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":938,"wires":[[]]},{"id":"9bd47a4f.0ab428","type":"change","z":"27550e44.3f2d02","name":"Store rele2Settable","rules":[{"t":"set","p":"rele2Settable","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1057,"wires":[[]]},{"id":"33ff8e3a.0bade2","type":"influxdb out","z":"27550e44.3f2d02","influxdb":"a3844267.74b4e","name":"Influx Termo","measurement":"Mkrs","precision":"s","retentionPolicy":"","x":736,"y":1240,"wires":[]},{"id":"dd8d18eb.6fe3e8","type":"function","z":"27550e44.3f2d02","name":"","func":"var info = {};\n\ninfo.homie               = global.get(\"homie\");\ninfo.device              = global.get(\"arduinoName\");\ninfo.nodes               = global.get(\"arduinoNodes\");\ninfo.state               = global.get(\"arduinoState\");\ninfo.deviceID            = global.get(\"mkrenvName\");\ninfo.properties          = global.get(\"mkrenvProperties\");\ninfo.tempName            = global.get(\"temperatureName\");\ninfo.tempUnit            = global.get(\"temperatureUnit\");\ninfo.tempValue           = global.get(\"temperatureValue\");\ninfo.tempDataType        = global.get(\"temperatureDataType\");\ninfo.tempSettable        = global.get(\"temperatureSettable\");\ninfo.humidityName        = global.get(\"humidityName\");\ninfo.humidityUnit        = global.get(\"humidityUnit\");\ninfo.humidityValue       = global.get(\"humidityValue\");\ninfo.humidityDataType    = global.get(\"humidityDataType\");\ninfo.humiditySettable    = global.get(\"humiditySettable\");\ninfo.pressureName        = global.get(\"pressureName\");\ninfo.pressureUnit        = global.get(\"pressureUnit\");\ninfo.pressureValue       = global.get(\"pressureValue\");\ninfo.pressureDataType    = global.get(\"pressureDataType\");\ninfo.pressureSettable    = global.get(\"pressureSettable\");\ninfo.rele1Name           = global.get(\"rele1Name\");\ninfo.rele1Settable       = global.get(\"rele1Settable\");\ninfo.rele1State          = global.get(\"rele1State\");\ninfo.rele2Name           = global.get(\"rele2Name\");\ninfo.rele2Settable       = global.get(\"rele2Settable\");\ninfo.rele2State          = global.get(\"rele2State\");\n\n\nmsg.info = info;\nreturn msg;","outputs":1,"noerr":0,"x":276,"y":1240,"wires":[["1cf69be5.ebfdd4"]]},{"id":"1cf69be5.ebfdd4","type":"change","z":"27550e44.3f2d02","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":406,"y":1240,"wires":[["6a199f57.5ae02"]]},{"id":"6a199f57.5ae02","type":"change","z":"27550e44.3f2d02","name":"Set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"info","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":556,"y":1240,"wires":[["33ff8e3a.0bade2","9f451e16.9b861"]]},{"id":"3f4554a8.6bfb1c","type":"alexa-smart-home-v3","z":"df300dc7.e03ed","conf":"fcd21c62.94d71","device":"4735","acknowledge":true,"name":"Termo","topic":"","x":310,"y":380,"wires":[["6a030854.8a7558"]]},{"id":"41a24740.6748b8","type":"influxdb in","z":"27550e44.3f2d02","influxdb":"a3844267.74b4e","name":"","query":"Select * from Mkrs","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":1380,"wires":[["7f02df3.e9e8f2"]]},{"id":"3cc44864.50dfc8","type":"inject","z":"27550e44.3f2d02","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1380,"wires":[["41a24740.6748b8"]]},{"id":"7f02df3.e9e8f2","type":"debug","z":"27550e44.3f2d02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1380,"wires":[]},{"id":"4dc1af26.38e95","type":"change","z":"27550e44.3f2d02","name":"Store estadoError","rules":[{"t":"set","p":"estadoError","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1180,"wires":[[]]},{"id":"19c0bee9.6c5dd1","type":"change","z":"27550e44.3f2d02","name":"Store modoManual","rules":[{"t":"set","p":"modoManual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1140,"wires":[[]]},{"id":"9a3ffc5a.ed71f","type":"inject","z":"27550e44.3f2d02","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1240,"wires":[["dd8d18eb.6fe3e8"]]},{"id":"f5f9ca2d.21d0d8","type":"inject","z":"27550e44.3f2d02","name":"","topic":"","payload":"22","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"30","x":110,"y":1100,"wires":[["8ca5b7dc.828e58"]]},{"id":"8ca5b7dc.828e58","type":"change","z":"27550e44.3f2d02","name":"Store tempDeseada","rules":[{"t":"set","p":"tempDeseada","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1100,"wires":[[]]},{"id":"36c66d33.7c3f82","type":"inject","z":"8ff11e89.3983c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["e97b0fe5.9e2bb","70536228.fb8b3c","d7ad6aca.b84e38","dc59746.b464488","c485e349.2f75c","c2d68a5b.01a288","1e1cfeaa.b77081"]]},{"id":"e97b0fe5.9e2bb","type":"change","z":"8ff11e89.3983c","name":"Store arduinoState","rules":[{"t":"set","p":"payload","pt":"msg","to":"arduinoState","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":220,"wires":[["e4062517.23ad08"]]},{"id":"d7ad6aca.b84e38","type":"change","z":"8ff11e89.3983c","name":"Store pressureValue","rules":[{"t":"set","p":"payload","pt":"msg","to":"pressureValue","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":300,"wires":[["caeb44a5.069db8"]]},{"id":"70536228.fb8b3c","type":"change","z":"8ff11e89.3983c","name":"Store temperatureValue","rules":[{"t":"set","p":"payload","pt":"msg","to":"temperatureValue","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":260,"wires":[["f6ed07ac.526ad8"]]},{"id":"dc59746.b464488","type":"change","z":"8ff11e89.3983c","name":"Store rele2State","rules":[{"t":"set","p":"payload","pt":"msg","to":"rele2State","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":380,"wires":[[]]},{"id":"c2d68a5b.01a288","type":"change","z":"8ff11e89.3983c","name":"Store estadoError","rules":[{"t":"set","p":"payload","pt":"msg","to":"estadoError","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":460,"wires":[["94c42d17.8e72e"]]},{"id":"c485e349.2f75c","type":"change","z":"8ff11e89.3983c","name":"Store modoManual","rules":[{"t":"set","p":"payload","pt":"msg","to":"modoManual","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":420,"wires":[["63cb525f.97222c"]]},{"id":"e4062517.23ad08","type":"ui_text","z":"8ff11e89.3983c","group":"b5e9d6b9.677158","order":1,"width":0,"height":0,"name":"Estado Termo","label":"Estado Termo :","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":220,"wires":[]},{"id":"1e1cfeaa.b77081","type":"change","z":"8ff11e89.3983c","name":"Store tempDeseada","rules":[{"t":"set","p":"payload","pt":"msg","to":"tempDeseada","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":500,"wires":[["45d26d6c.58ea54"]]},{"id":"f6ed07ac.526ad8","type":"ui_text","z":"8ff11e89.3983c","group":"b5e9d6b9.677158","order":2,"width":0,"height":0,"name":"Temperatura","label":"Temperatura Actual:","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":260,"wires":[]},{"id":"caeb44a5.069db8","type":"ui_text","z":"8ff11e89.3983c","group":"b5e9d6b9.677158","order":3,"width":0,"height":0,"name":"Presión","label":"Presión Actual:","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":300,"wires":[]},{"id":"63cb525f.97222c","type":"ui_text","z":"8ff11e89.3983c","group":"b5e9d6b9.677158","order":4,"width":0,"height":0,"name":"Modo","label":"Modo Actual:","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":420,"wires":[]},{"id":"94c42d17.8e72e","type":"ui_text","z":"8ff11e89.3983c","group":"b5e9d6b9.677158","order":5,"width":0,"height":0,"name":"Error","label":"Errores:","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":460,"wires":[]},{"id":"45d26d6c.58ea54","type":"ui_text","z":"8ff11e89.3983c","group":"b5e9d6b9.677158","order":6,"width":0,"height":0,"name":"Temperatura Deseada","label":"Temperatura Deseada:","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":500,"wires":[]},{"id":"42f17895.655668","type":"ui_switch","z":"8ff11e89.3983c","name":"","label":"Resistencia","tooltip":"","group":"b5e9d6b9.677158","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":510,"y":600,"wires":[["e9983c36.24741"]]},{"id":"e017eabb.351e28","type":"inject","z":"8ff11e89.3983c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"30","x":130,"y":600,"wires":[["b1e22db2.d7e2e"]]},{"id":"b1e22db2.d7e2e","type":"change","z":"8ff11e89.3983c","name":"Store rele1State","rules":[{"t":"set","p":"payload","pt":"msg","to":"rele1State","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":600,"wires":[["42f17895.655668"]]},{"id":"38aa28e6.512b38","type":"websocket in","z":"a3081bfc.d3c508","name":"Socket mantenimiento","server":"230c9be0.1dac24","client":"","x":240,"y":200,"wires":[["bd730106.ffba5","34e625a7.9e9d6a"]]},{"id":"687a05c.52bd4fc","type":"function","z":"a3081bfc.d3c508","name":"Control Entradas Socket Comunicaciones","func":"var tempDeseadaTemporal = global.get(\"tempDeseada\");\nif(msg.payload.TempFuncion == \"SUBIR\"){\n    tempDeseadaTemporal = parseFloat(tempDeseadaTemporal) + 1;\n    global.set(\"tempDeseada\",tempDeseadaTemporal);\n}\nif(msg.payload.TempFuncion == \"BAJAR\"){\n    tempDeseadaTemporal = parseFloat(tempDeseadaTemporal) - 1;\n    global.set(\"tempDeseada\",tempDeseadaTemporal);\n}","outputs":0,"noerr":0,"x":760,"y":200,"wires":[]},{"id":"bd730106.ffba5","type":"json","z":"a3081bfc.d3c508","name":"","property":"payload","action":"","pretty":false,"x":490,"y":200,"wires":[["687a05c.52bd4fc"]]},{"id":"9e4cca4b.d220b8","type":"websocket out","z":"a3081bfc.d3c508","name":"Socket Salida mantenimiento","server":"230c9be0.1dac24","client":"","x":1000,"y":340,"wires":[]},{"id":"7d68debd.309fb","type":"inject","z":"a3081bfc.d3c508","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":230,"y":340,"wires":[["1378b6cd.466139","a63dd28a.8d321"]]},{"id":"a63dd28a.8d321","type":"template","z":"a3081bfc.d3c508","name":"Info to web","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"Temperatura\":{{global.temperatureValue}},\"TemperaturaDeseada\":{{global.tempDeseada}},\"Modo\":\"{{global.modoManual}}\",\"Estado\":\"{{global.arduinoState}}\"}","x":630,"y":340,"wires":[["9e4cca4b.d220b8"]]},{"id":"34e625a7.9e9d6a","type":"influxdb out","z":"a3081bfc.d3c508","influxdb":"59efd83a.5a4b38","name":"","measurement":"calendari_temperatura","precision":"","retentionPolicy":"","x":570,"y":240,"wires":[]},{"id":"1378b6cd.466139","type":"influxdb in","z":"a3081bfc.d3c508","influxdb":"59efd83a.5a4b38","name":"","query":"SELECT * FROM calendari_temperatura","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":420,"wires":[["a225930b.d401c"]]},{"id":"a225930b.d401c","type":"split","z":"a3081bfc.d3c508","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":420,"wires":[["e958762a.b4d9f8"]]},{"id":"e958762a.b4d9f8","type":"json","z":"a3081bfc.d3c508","name":"","property":"payload","action":"str","pretty":true,"x":730,"y":420,"wires":[["26af60d.c5caea"]]},{"id":"26af60d.c5caea","type":"join","z":"a3081bfc.d3c508","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":860,"y":420,"wires":[["9e4cca4b.d220b8"]]},{"id":"d7bbb569.a0f698","type":"function","z":"f2415065.e1ccd","name":"","func":"var tempDeseadaTemporal = global.get(\"tempDeseada\");\nvar temp = global.get(\"temperatureValue\");\nvar modoAuto = global.get(\"modoManual\");\ntempDeseadaTemporal = parseFloat(tempDeseadaTemporal);\ntemp = parseFloat(temp);\n\nif (modoAuto == \"false\"){\n    if(tempDeseadaTemporal > temp){\n        msg.payload = 1;\n        return msg;\n    }else{\n        msg.payload = 0;\n        return msg;\n    }\n}\n\n","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["7e14f014.397cb"]]},{"id":"b122435.d048cc","type":"inject","z":"f2415065.e1ccd","name":"","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["d7bbb569.a0f698"]]},{"id":"8e6487a1.e2c1d8","type":"mqtt out","z":"8ff11e89.3983c","name":"","topic":"homie/arduino/relays/relays/rele2/set","qos":"0","retain":"false","broker":"b75d189d.eca968","x":830,"y":620,"wires":[]},{"id":"e9983c36.24741","type":"mqtt out","z":"8ff11e89.3983c","name":"","topic":"homie/arduino/relays/relays/rele1/set","qos":"0","retain":"false","broker":"b75d189d.eca968","x":830,"y":580,"wires":[]},{"id":"7e14f014.397cb","type":"mqtt out","z":"f2415065.e1ccd","name":"","topic":"homie/arduino/relays/relays/rele1/set","qos":"0","retain":"false","broker":"b75d189d.eca968","x":590,"y":140,"wires":[]},{"id":"6a030854.8a7558","type":"function","z":"df300dc7.e03ed","name":"","func":"var modoAuto = global.get(\"modoManual\");\nif (modoAuto == \"false\"){\n\n    return [msg,null];\n}else{\n  \n    return [null,msg];\n}\n","outputs":2,"noerr":0,"x":470,"y":380,"wires":[["415a4565.4d188c"],[]]},{"id":"415a4565.4d188c","type":"change","z":"df300dc7.e03ed","name":"Store tempDeseada","rules":[{"t":"set","p":"tempDeseada","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":340,"wires":[[]]},{"id":"957d7e77.632d8","type":"alexa-smart-home-v3-state","z":"df300dc7.e03ed","conf":"fcd21c62.94d71","device":"4735","name":"Termo","x":470,"y":460,"wires":[]},{"id":"4827c905.3fe018","type":"inject","z":"df300dc7.e03ed","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":460,"wires":[["e324904c.f4fc5"]]},{"id":"e324904c.f4fc5","type":"function","z":"df300dc7.e03ed","name":"","func":"var temp = global.get(\"temperatureValue\");\nmsg = {acknowledge:true,payload:{state:{\"temperature\": parseFloat(temp)}}}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["957d7e77.632d8"]]},{"id":"c503db58.fc88a8","type":"change","z":"8ff11e89.3983c","name":"Store tempDeseada","rules":[{"t":"set","p":"tempDeseada","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":540,"wires":[[]]},{"id":"e37cf38c.cd8b3","type":"ui_text_input","z":"8ff11e89.3983c","name":"","label":"Temperatura Deseada","tooltip":"","group":"b5e9d6b9.677158","order":7,"width":0,"height":0,"passthru":false,"mode":"number","delay":"400","topic":"","x":840,"y":540,"wires":[["c503db58.fc88a8"]]},{"id":"9f451e16.9b861","type":"influxdb out","z":"27550e44.3f2d02","influxdb":"59efd83a.5a4b38","name":"Influx Termo","measurement":"Mkrs","precision":"s","retentionPolicy":"","x":750,"y":1280,"wires":[]},{"id":"f9c89863.230908","type":"ui_template","z":"8ff11e89.3983c","group":"b5e9d6b9.677158","name":"","order":8,"width":0,"height":0,"format":"<iframe src=\"http://10.244.167.21:3000/d-solo/sRDjEcaWk/sensores?orgId=1&refresh=5s&from=1575953647859&to=1576558447859&panelId=4\" width=\"450\" height=\"200\" frameborder=\"0\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":720,"y":720,"wires":[[]]}]